
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Atlas</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
        .link {
            stroke: #999;
            stroke-opacity: .6;
        }
    </style>
    
</head>
<body>
<div class="container-fluid" style="padding:20px;">

    <div class="">
        <div class="text-center jumbotron">
        <h1><span class="fa fa-lock"></span> Atlas</h1>
        </div>

        <div id="divSVG">
            <p>Bulb Graph:</p>
        </div>

        <p>Registered user functions:

            <a href="/workspace" class="btn btn-default" target="_blank">Manage Workspaces</a>
            <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Examine user profile</a>
            <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
        </p>

        <p>Utilities:

            <a href="#" class="btn btn-default" id="btnNewBulb">New Bulb</a>
            <a href="#" class="btn btn-default" id="navigateButton">Jump To...</a>
            <a href="#" class="btn btn-default" id="duplicateNode">Duplicate Node: </a>
            <input type="text" id="duplicateNodeInput" placeholder="Node ID" />
        </p>

        <p><strong>History:</strong>
            <span id="historyDisplay"></span> <br />

            <strong>Path:</strong>
            <span id="pathDisplay"></span>
        </p>

        <p>Data in highlighted node:</p>
        <div id="bulbInfo">
            <fieldset>
                <div class="row">
                <div class="col-md-5">
                <table class="table-striped">
                <tr>
                <td>
                <strong>Title:</strong>
                </td>
                <td>
                <input id="bulbInfoTitle" type="text" placeholder="Title" />
                </td>
                </tr>
                <tr>
                <td>
                <strong>Resolved:</strong>
                </td>
                <td>
                <input id="bulbInfoResolved" type="checkbox" />
                </td>
                </tr>
                <tr>
                <td>
                <strong>Modification Time:</strong>
                </td>
                <td>
                <span id="bulbInfoModificationTime"></span>
                </td>
                </tr>
                <tr>
                <td>
                <strong>Id:</strong>
                </td>
                <td>
                <span id="bulbInfoId"></span>
                </td>
                </tr>
                <tr>
                <td>
                <strong>Owner:</strong>
                </td>
                <td>
                <span id="bulbInfoOwner"></span>
                </td>
                </tr>
                <tr>
                <td>
                <strong>Contains:</strong>
                </td>
                <td>
                <ul>
                    <span id="bulbInfoContainsNodes">
                        <!-- This will get populated. -->
                    </span>
                </ul>
                </td>
                </tr>
                <tr>
                <td>
                <strong>Links out to:</strong>
                </td>
                <td>
                <ul>
                    <li><a href="#" class="bulbInfoAddOutgoingRef">[ + ]</a></li>
                    <span id="bulbInfoOutgoingNodes">
                        <!-- This will get populated. -->
                    </span>
                </ul>
                </td>
                </tr>
                <tr>
                <td>
                <strong>Parents:</strong>
                </td>
                <td>
                <strong>(<a href="#" class="parentWorkspacePicker">Workspace</a>)</strong> <span id="bulbInfoParentsWorkspaceId"></span> <br />
                <strong>(<a href="#" class="parentContainerPicker">Container</a>)</strong> <span id="bulbInfoParentsContainerId"></span> <br />
                <strong>(Original)</strong> <span id="bulbInfoParentsOriginalId"></span>
                </td>
                </tr>
                <tr>
                <td>
                <strong>Shares:</strong>
                </td>
                <td>
                <textarea id="bulbInfoShares" style="width:100%", rows="4">
                </textarea>
                </td>
                </tr>
                </table>
                <textarea id="bulbInfoText" style="width:100%" rows=20></textarea>
                <br />
                <a href="#" class="btn btn-default linkUpdateBulb">Save Active Bulb</a>
                <a href="#" class="btn btn-default linkDeleteBulb">Delete Active Bulb</a>
                </div>
                <div class="col-md-7">
                <div id="bulbInfoRenderedText"></div>
                </div></div>
            </fieldset>
        </div>
    </div>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>

<script src="http://d3js.org/d3.v3.min.js"></script> <!-- Need this for graph drawing -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- Need this for various operations, including searchbox -->

<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script> <!-- Need this for the searchbox -->

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> <!-- Need this to render LaTeX -->

<script src="/javascript/markdown.js"></script> <!-- Markdown renderer -->

<script src="/javascript/pathPopover.js"></script> <!-- popover code -->

<script src="/javascript/global.js"></script> <!-- Main page code -->

</body>
</html>
