
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Atlas</h1>

        <p>Congratulations on registering and logging in.</p>

        <p>Registered functions:</p>

        <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Examine user profile</a>
    </div>

</div>
</body>
</html>
