
<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Atlas</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="css/local.css"> <!-- load local CSS declarations -->
</head>
<body>
<div class="container-fluid" style="padding:20px;">

    <div class="">
        
        <div id="divSVG">
            <div id="panels">
                <div id="textPanel" class="divPanel">
                    <div id="bulbInfoRenderedText" style="overflow:auto;">
                    </div>
                </div>
                <div id="editPanel" class="divPanel">
                    <input id="bulbInfoTitle" type="text" placeholder="Title" /><br />
                    <textarea id="bulbInfoText" style="width:100%" rows=20></textarea><br />
                    <a href="#" class="btn btn-default linkUpdateBulb">Save Active Bulb</a>
                    <a href="#" class="btn btn-default linkDeleteBulb">Delete Active Bulb</a>
                </div>
                <div id="dataPanel" class="divPanel">
                    <table class="table-striped">
                    <tr>
                    <td>
                    <strong>Resolved:</strong>
                    </td>
                    <td>
                    <input id="bulbInfoResolved" type="checkbox" />
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <strong>Modification Time:</strong>
                    </td>
                    <td>
                    <span id="bulbInfoModificationTime"></span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <strong>Id:</strong>
                    </td>
                    <td>
                    <span id="bulbInfoId"></span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <strong>Owner:</strong>
                    </td>
                    <td>
                    <span id="bulbInfoOwner"></span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <strong>Contains:</strong>
                    </td>
                    <td>
                    <ul>
                        <span id="bulbInfoContainsNodes">
                            <!-- This will get populated. -->
                        </span>
                    </ul>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <strong>Parents:</strong>
                    </td>
                    <td>
                    <strong>(<a href="#" class="parentWorkspacePicker">Workspace</a>)</strong> <span id="bulbInfoParentsWorkspaceId"></span> <br />
                    <strong>(<a href="#" class="parentContainerPicker">Container</a>)</strong> <span id="bulbInfoParentsContainerId"></span> <br />
                    <strong>(Original)</strong> <span id="bulbInfoParentsOriginalId"></span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <strong>Shares:</strong>
                    </td>
                    <td>
                    <textarea id="bulbInfoShares" style="width:100%", rows="4">
                    </textarea>
                    </td>
                    </tr>
                    </table>
                </div>
            </div>
            <div id="bulbInfoResize">
                <a href="#" id="btnDisplayResize" style="color:black">±</a>
            </div>
            <div id="panelSelector" style="width:100px">
            </div>
        </div>

        <p>Registered user functions:

            <a href="/workspace" class="btn btn-default" target="_blank">Manage Workspaces</a>
            <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Examine user profile</a>
            <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
        </p>

        <p>Utilities:

            <a href="#" class="btn btn-default" id="btnNewBulb">New Bulb</a>
            <a href="#" class="btn btn-default" id="navigateButton">Search...</a>
            <a href="#" class="btn btn-default" id="clearHistoryButton">Clear History</a>
            <a href="#" class="btn btn-default" id="jostleButton">Jostle</a>
            <a href="#" class="btn btn-default" id="toplevelButton">Add Toplevel Nodes...</a>
            <br />

            <div id="stateButtons">
                <a href="#" class="btn btn-default" id="SELECTButton">Select</a>
                <a href="#" class="btn btn-default" id="LINKTOButton">Link to target</a>
                <a href="#" class="btn btn-default" id="DELINKTOButton">Unlink to target</a>
                <a href="#" class="btn btn-default" id="LINKFROMButton">Link from target</a>
                <a href="#" class="btn btn-default" id="DELINKFROMButton">Unlink from target</a>
                <a href="#" class="btn btn-default" id="POSSESSButton">Possess target</a>
                <a href="#" class="btn btn-default" id="DEPOSSESSButton">Release target</a>
            </div>

            <a href="#" class="btn btn-default" id="duplicateNode">Duplicate Node: </a>
            <input type="text" id="duplicateNodeInput" placeholder="Node ID" />
        </p>
    </div>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>

<script src="http://d3js.org/d3.v3.min.js"></script> <!-- Need this for graph drawing -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- Need this for various operations, including searchbox -->

<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script> <!-- Need this for the searchbox -->

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> <!-- Need this to render LaTeX -->

<script src="/javascript/markdown.js"></script> <!-- Markdown renderer -->

<script src="/javascript/pathPopover.js"></script> <!-- Select... popover -->

<script src="/javascript/historyPopover.js"></script> <!-- history popover -->

<script src="/javascript/global.js"></script> <!-- Main page code -->

</body>
</html>
