<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Atlas - Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center jumbotron">
        <h1><span class="fa fa-lock"></span> Atlas</h1>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %><br>
                        <strong>fullname</strong>: <%= user.local.fullname %>
                    </p>

            </div>
        </div>

        <!-- UPDATE FORM -->
        <div class="col-sm-6">
            <div class="well">
                <h3>Update Information</h3>

                <form action="/profile" method="post">
                    <input type="password" name="oldpassword" placeholder="Confirm old password" /><br />
                    <input type="password" name="newpassword" placeholder="New password" /><br />
                    <input type="password" name="newpassword2" placeholder="Confirm new password" /><br />
                    <input type="text" name="email" placeholder="Email" /><br />
                    <input type="text" name="fullname" placeholder="Full name" /><br />
                    <br />
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>

    </div>

</div>
</body>
</html>