<!-- views/recovery.ejs -->
<!doctype html>
<html>
<head>
    <title>Atlas - Password Recovery</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center jumbotron">
        <h1><span class="fa fa-unlock"></span> Atlas</h1>
    </div>

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Password Recovery</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/recover" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Request Recovery Email</button>
    </form>

    <hr>

    <p>
        Just want to log in? <a href="/login">Login</a><br />
        Need an account? <a href="/signup">Signup</a>
    </p>

</div>

</div>
</body>
</html>